.mainContent {
  display: flex;
}
.sidebarHeader {
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  font-weight: bold;
  font-size: 16px;
}
.addButton {
  height: 30px;
  margin-bottom: 10px !important;
  float: none;
}
.annualFeeField,
.datePickerField {
  margin-top: 20px !important;
}

.tableHeader {
  padding: 5px;
}

.toolbar {
  float: 'left';
}

.wrapper {
  display: 'flex';
  flex-wrap: 'wrap';
  padding-left: 10;
}
