.expandTable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.ui.table {
  width: 85%;
  border: 1px solid black;
  background-color: white;
  display: inline-table;
  border-collapse: collapse;
  font-size: 18px;
}

.ui.table thead th {
  background: aqua;
}

.ui.table thead th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 15px;
}
