.expandTable {
  display: flex;
  align-items: center; /* vertical align */
  justify-content: center; /* horizontal align */
  padding: 5px;
  height: 75vh; /* helps center the div */
}

.ui.table {
  width: 85%;
  border: 1px solid black;
  background-color: white;
  display: inline-table;
  border-collapse: collapse;
  font-size: 18px;
}

.ui.table thead th {
  background: aqua;
}

.ui.table thead th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 15px;
}
