.ui.table {
  text-align: left;
  width: 80%;
  border: 1px solid black;
  background-color: white;
  display: inline-table;
  border-collapse: collapse;
  font-size: 18px;
}

.ui.table thead th {
  background: rgb(29 90 185);
}

.ui.table thead th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 15px;
}
