/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: grey;
}

.current-link {
  color: blue;
}