.app {
  position: relative;
  text-align: center;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

h1 {
  font-family: arial, sans-serif;
  font-size: 16px;
}

.titleDesc {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

a {
  position: relative;
  top: 45%;
  text-decoration: none;
}
