.App {
  text-align: center;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

h1 {
  font-family: arial, sans-serif;
  font-size: 16px;
}

.paper {
  display: grid;
  width: 30.33%;
  padding: 5px;
}

.MuiPaper-root a {
  position: relative;
  top: 45%;
  text-decoration: none;
}