.App {
  text-align: center;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin:0 auto;
  width:300px;
}

h1 {
  font-family: arial, sans-serif;
  font-size: 16px;
}

.container {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
}

.helper {
  display: table-cell;
  vertical-align: middle;
}
