.searchBox {
  padding: 10px 0px;
  position: relative;
}

.searchBox input {
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 98%;
}

.MuiListItem-gutters {
  padding-left: 0 !important;
}
