.mainContent {
  display: flex;
  padding: 20px;
  background-color: antiquewhite;
}

.formContent {
  padding: 10px;
  background-color: antiquewhite;
}

.sidebarHeader {
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  font-weight: bold;
  font-size: 16px;
}
.addButton {
  height: 30px;
  margin-bottom: 10px !important;
  float: none;
}
.toolbar {
  float: 'left';
}

.wrapper {
  display: 'flex';
  flex-wrap: 'wrap';
  padding-left: 10;
}
