.mainContent {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.sidebarHeader {
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  font-weight: bold;
  font-size: 16px;
}
.addButton {
  height: 30px;
  margin-bottom: 10px;
  float: none;
}

.chipsWrapper {
  margin-bottom: 10px;
}

.MuiListItem-gutters {
  padding-left: 0 !important;
}
