.sidebarHeader {
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  font-weight: bold;
  font-size: 16px;
}

.chipsWrapper {
  padding: 6px;
}

/* here we are overriding the default material UI css
   consider using a separate class attribute instead
*/
.MuiList-padding {
  padding: 0!important;
}
.MuiListItem-gutters {
  padding-left: 0!important;
}

.drawerManageIcon {
  text-align: right;
}

.burgerLabel {
  padding-right: 15px!important;
}

.centerControl {
  display: inline-flex;
  align-items: center
}
